body {background-color: #EAF6F6}
  hr {
      border-style: none;
      border-top-style: dotted;
      width:5%;
      border-top-color: grey;border-width: 5px}
      H3{color: #66bfbf}
      h1{color:#66bfbf}
